body {
    font-family: 'Fira Code', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #29272A;
    color: #9885BB;
  }

  header {
    background-color: #9885BB;
    color: #29272A;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #9885BB;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
  }
  
  main {
    padding: 20px;
    background-color: #29272A;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: calc(50% - 10px);
    background-color: #9885BB;
    color: #29272A;
    padding: 20px;
    margin-bottom: 20px;
  }
  

  footer {

    background-color: #9885BB;
    color: #29272A;
    padding: 20px;
    text-align: center;
    
  }