body {
  font-family: 'Fira Code', sans-serif;
  margin: 0;
  padding: 0;
    background-color: #333333;
  color: #F5F5F5;
}

header {
  background-color: #333333;
  color: #F5F5F5;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333333;
  color: #F5F5F5;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

main {
  padding: 20px;
  background-color: #333333;
  color: #F5F5F5;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: calc(50% - 10px);
  background-color: #333333;
  color: #F5F5F5;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #F5F5F5;
}


footer {
  background-color: #333333; /* dark gray */
  color: #F5F5F5; /* light gray */
  padding: 20px;
  text-align: center;
}
